{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Category:</h1>

        <ul>
            {% for category in categories %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <a href="{{ path('app_index') }}">
        Back to homepage.
    </a>

{% endblock %}